html {
    font-size: 16px;
}

.g-baoha {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 44px;
}

.g-yiliao20 {
    width: 94%;
    height: 252px;
    box-shadow: 0 0 10px 2px #eeeeee;
    margin: 15px auto;
}

.g-yipai20 {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.g-yipai20 span:nth-child(1) {
    color: #6d6d6d;
    float: left;
    margin-top: 15px;
    margin-left: 8px;
}

.g-yipai20 span:nth-child(2) {
    color: #6d6d6d;
    float: left;
    margin-top: 15px;
    margin-left: 8px;
}

.g-yipai20 span:nth-child(3) {
    color: #117ff0;
    float: right;
    margin-top: 15px;
    margin-right: 12px;
}

.g-miaoshu20 {
    width: 96%;
    height: auto;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 12px;
    color: #c3c3c3;
    font-size: 1.2rem;
    line-height: 20px;
    margin-top: 2px;
}

.g-rongyu20 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    font-size: 1.2rem;
    color: #6d6d6d;
    margin-top: 8px;
}

.g-rongyu20 span:nth-child(1) {
    margin-left: 8px;
}

.g-imgjkl20 {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 8px;
    padding-left: 9px;
    padding-right: 8px;
}

.g-imgjkl20 img {
    width: 59px;
    height: 59px;
    float: left;
    margin-top: 6px;
}

.g-koloi20 {
    width: 10px;
    height: 59px;
    float: left;
}

.g-liauan20 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    font-size: 1.2rem;
    color: #6d6d6d;
    margin-top: 8px;
    float: left;
}

.g-liauan20 span:nth-child(1) {
    margin-left: 8px;
    float: left;
}

.g-liauan20 span:nth-child(2) {
    float: left;
}

.g-lkoi20 {
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 39px;
    margin-top: 4px;
}

.g-plko20 {
    float: left;
    margin-left: 9px;
    color: #d0d0d0;
}