.item-section {
    width: 100%;
    height: auto;
    background: #dd807c;
}

.item-section_header {
    width: 100%;
    height: 6rem;
}

.item-section_header>img {
    width: 100%;
}

.item-section ul {
    width: 96%;
    margin: 0 auto;
}

.item-section ul>li {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.20rem 0 0.13rem 0;
    background: #fff;
    margin-top: 0.01rem;
}

.figure {
    display: inline-block;
    width: 1.79rem;
    height: 1.79rem;
    float: left;
}

.figure img {
    display: inline-block;
    width: 1.79rem;
    height: 1.79rem;
}

.figcaption {
    width: 7.6rem;
    height: 1.8rem;
    float: left;
    margin-left: 0.16rem;
}

.flag-title>a {
    width: 100%;
    height: 0.25rem;
    font-size: 24px;
    line-height: 0.25rem;
    color: #000;
}

.flag-price {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 0.05rem;
}

.flag-price>span {
    display: block;
    width: 0.85rem;
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background: #f32a4c;
    float: left;
    border-radius: 0.02rem;
    -webkit-border-radius: 0.02rem;
    -moz-border-radius: 0.02rem;
    -ms-border-radius: 0.02rem;
    -o-border-radius: 0.02rem;
}

.flag-price>strong {
    display: block;
    width: 1.2rem;
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 26px;
    color: #f32a4c;
    float: left;
    margin-left: 0.054rem
}

.flag-price>small {
    display: block;
    width: 1.4rem;
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 22px;
    color: #f32a4c;
    float: left;
    margin-left: 0.054rem
}

.flag-type {
    width: 2.4rem;
    height: 0.38rem;
    line-height: 0.38rem;
    font-size: 24px;
    color: #ff6a30;
    margin-top: 0.050rem
}

.flag-btn {
    display: block;
    width: 1.4rem;
    height: 0.48rem;
    line-height: 0.48rem;
    font-size: 28px;
    text-align: center;
    color: #fff;
    float: right;
    margin-right: 0.06rem;
    background: #f5294c;
    border-radius: 0.02rem;
    -webkit-border-radius: 0.02rem;
    -moz-border-radius: 0.02rem;
    -ms-border-radius: 0.02rem;
    -o-border-radius: 0.02rem;
}


/* 1像素 */


/* .onePx:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #c8c7cc;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .div:before {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .div:before {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}

@media screen and (min-width:321px) and (max-width:375px) {
    html {
        font-size: 11px
    }
}

@media screen and (min-width:376px) and (max-width:414px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width:415px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}

@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}

@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}

@media screen and (min-width:800px) {
    html {
        font-size: 25px
    }
} */